:root {
  --bg-font: #2e0e07;
  --bg-color: #252c32;
  --bg-doppio: #654321;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  grid-area: header;
}
nav {
  display: grid;
  align-items: center;
  grid-area: nav;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: main;
}
footer {
  grid-area: footer;
}
body {
  color: var(--bg-font);
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main'
    'footer footer footer';
}
.mainHeader {
  font-size: 60px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.o {
  display: inline-block;
  transform: rotate(27deg);
  background: url(img/coffemarker.png) no-repeat;
  background-size: cover;
  width: 38px;
  height: 40px;
  margin: -3px;
}
.menu {
  list-style: none;
  padding-left: 15px;
  display: grid;
  grid-auto-rows: 85px;
  grid-auto-columns: 200px;
  grid-gap: 10px;
  justify-content: center;
}
.menu-item a {
  font-size: 18px;
  line-height: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  height: 100%;
}
.menu-item a:hover,
.active {
  box-shadow: 0px 0px 15px black;
  text-shadow: black 1px 1px 0px;
}
.doppio-bg {
  background-color: #654321;
}
.americano-bg {
  background-color: #7f5f42;
}
.macchiato-bg {
  background-color: #997d64;
}
.flatw-bg {
  background-color: #b39c89;
}
.cappuccino-bg {
  background-color: #ccbcaf;
}
.latte-bg {
  background-color: #e6ddd6;
}

.doppio-text {
  color: #654321;
}
.americano-text {
  color: #7f5f42;
}
.macchiato-text {
  color: #997d64;
}
.flatw-text {
  color: #b39c89;
}
.cappuccino-text {
  color: #ccbcaf;
}
.latte-text {
  color: #e6ddd6;
}
.content {
  width: 600px;
  height: 600px;
  background: url('img/cat.png') no-repeat;
  background-size: contain;
}
.description {
  align-self: center;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  width: 500px;
}
